

body {
	background-color: #FFD700;
	width: 100%;
}

.column {
	float: left;
	padding-left: 1.5rem;
	padding-right: 1rem;
}

.column.left {
	width: 30%;
}

.column.right {
	width: 60%;
	margin-top: 3%;
}


h1.page-title {
	text-align: center;
	margin-bottom: 0;
}

h3.subtitle {
	text-align: center;
	font-style: italic;
	margin: 0;
}

.square {
    width: 200px;
    height: 200px;
    border: 2px solid #FF69B4;
    background-color: #AFEEEE;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 120px;
}

.square:hover {
	background-color: #96E6B3;
}

/* --- Button Styling --- */
/* This applies to the reset button. */

button {
	border: none;
	background-color: #464E47;
	width: 100%;
	margin: 10% auto;
	color: #FFFFFF;
}

button h5 {
	color: #FFFFFF;
	text-transform: uppercase;
	padding: none;
	text-align: center;
}

button:hover {
	background-color: #568259;
}
