<html ng-app="ticTacToeApp" ng-controller="ticTacToeCtrl">
  <head>
  	<title>Tic Tac Toe</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>
    <!-- NG Route -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>
    <!-- Angularfire script file -->
    <script type="text/javascript" src="script/angularfire.js"></script>
    <!-- CSS stylesheet -->
  	<link rel="stylesheet" type="text/css" href="css/index.css">
  

  </head>

  <body>
        <!-- This is the header for the page. -->
          <h1> Tic Tac Toe </h1>


     <!-- This is the body -->
          <h3>Instructions</h2>
          <p>TTT Instructions</p>
          <p>Stuff will be said. What is said will be stuff. What else? </p>
          <h5>Extras</h5>
          <p>This is where any extras will go, like a score card or place to choose icons.</p>
          <h5>Scorecard</h5>
          <p>Player 1 -- </p>
          <p>Player 2 -- </p>

          <!-- This is the button to reload a new game. -->
          <button ng-click="reset()"><h5>New Game</h5></button>
        </div>



        <!-- This is the start of the game board. -->
        <div id="board">

        <div class="square" id="sq{{ $index }}" ng-repeat="sq in square track by $index"
				ng-mouseenter="mouseEnter($index)" ng-mouseleave="mouseLeave($index)"
				ng-click="makeMove($index)" ng-bind="sq.playerMove"></div>
					<!-- Board Divisions -->
	<div class="line animated fadeInRightBig" id="ln0"></div>
	<div class="line animated fadeInRightBig" id="ln1"></div>
	<div class="line animated fadeInUpBig" id="ln2"></div>
	<div class="line animated fadeInUpBig" id="ln3"></div>
</div>



  </body>
</html>
