body {
	background-image: url("../images/legoSuperheroes.jpg");
background-size: cover;
 }


.start {
	font-style: solid black 20px;
	text-decoration: none;
/*	margin-left: 260px;
	margin-top: 5px*/
}

.start:hover {
	font-size: 200%;
	display: inline-block;
	vertical-align: middle;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	background-color:#FFD700;
	color:blue;
	border-radius: 10px;
}


button {
	color:yellow;
	font:1.0em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	padding:14px;
	border-radius: 10px;
}


#gametime {
	margin-left:25px;
}

#character{
}


.options {
	display: block;
	margin-left: 520px;
	margin-top: 50px;
}



